.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
	padding: 18px 38px;
	white-space: nowrap;
	gap: 20px;
	background: #0048CE linear-gradient(90deg, rgba(0, 72, 206, 0.4) 30%, rgba(212, 223, 248, 0.4) 60%);
	line-height: (22.4 / 16);
	color: var(--clr-white);
	border-radius: 50px;
	background-size: 400%;
	background-position: center;

	&:hover {
		background: #0048CE linear-gradient(90deg, rgba(0, 72, 206, 0.4) 30%, rgba(212, 223, 248, 0.4) 60%);
		color: var(--clr-white);
		background-size: 400%;
		background-position: left;

		& svg path {
			fill: var(--clr-white);
		}
	}

	&:disabled {
		background: var(--clr-blue-20);
		color: var(--clr-white);
		pointer-events: none;
	}

	&:active {
		background: #003AA6 linear-gradient(90deg, rgba(0, 72, 206, 0) 30%, rgba(212, 223, 248, 0) 60%);
		background-size: 400%;
		background-position: left;
	}


}

.btn-burger {
	width: 30px;
	height: 19px;
	transition: all .3s;
	cursor: pointer;

	&.active {
		height: 22px;

		& .line {

			&:first-child {
				transform: rotate(-45deg);
				transform-origin: right;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(45deg);
				transform-origin: right;
			}
		}
	}

	& .lines {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: space-between;
		height: 100%;

		& .line {
			display: inline-block;
			width: 100%;
			height: 1px;
			background: var(--clr-blue);
			transition: all .3s;
		}
	}
}

@keyframes slideTo {
	from {
		width: 100%;
	}

	50% {
		width: 60%;
	}

	to {
		width: 100%;
	}
}

@keyframes slideFrom {
	from {
		width: 60%;
	}

	50% {
		width: 100%;
	}

	to {
		width: 60%;
	}
}

.link {
	color: var(--clr-blue);
	font-size: 1rem;
	line-height: (22.4 / 16);
	transition: all 0.3s;

	&:hover {
		color: var(--clr-blue-hover);
	}

	&.language-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.nav-link {
	display: flex;
	height: auto;
	align-items: center;
	color: var(--clr-blue);
	padding: 6px 20px;
	font-size: 1rem;
	line-height: (22.4 / 16);
	gap: 3px;
	border-radius: 10px;
	position: relative;
	white-space: nowrap;

	@media screen and (max-width:1200px) {
		padding: 6px 16px;
	}

	& a {
		color: inherit;
	}

	& .caret svg {
		display: inline-block;
		transform: perspective(100px);
		transform-origin: center;
		transition: all .3s;
	}

	&:hover {

		& .caret svg {
			transform: perspective(100px) rotateX(-180deg);
		}

		& .submenu {
			opacity: 1;
			visibility: visible;
		}
	}

	& .submenu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 2px 20px 12px;
		display: flex;
		flex-direction: column;
		border-top: 1px solid #D9E4F8;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;

		& li {
			color: var(--clr-blue);
			font-size: 1rem;
			line-height: (22.4 / 16);
			height: 2rem;
			display: flex;
			align-items: center;

			& a {
				display: flex;
				color: inherit;
				vertical-align: middle;
				width: 100%;
			}
		}

	}
}

.language-link {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.sm-link {
	font-size: 12px;
	line-height: 2;
}

.scls-link {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
	will-change: scale;

	& svg {
		width: 100%;
		height: 100%;
	}

	&.no_bg {
		width: auto;
		height: auto;
		background: none;
		color: var(--clr-white);
	}

	&:hover {
		scale: (1.1);
	}
}

.sm_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;

}


.logo {
	font-family: var(--font-title);
	font-size: clamp(1.375rem, 1.0669rem + 1.3146vw, 2.25rem);
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: -.5px;
	color: var(--clr-blue);
}

.section {
	padding-left: 4rem;
	padding-right: 4rem;

	@media screen and (max-width:1200px) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

#wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	position: relative;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width:1200px) {
		max-width: 960px;
	}
}

.hidden {
	overflow: hidden;
}

.main {
	flex-grow: 1;
	margin-top: 100px;
}