@charset "UTF-8";
.head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: var(--clr-bg);
}
.head__row {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__nav {
  margin-left: auto;
}
.head__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 52px;
}
.head__right {
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  .head__right {
    margin-left: 64px;
  }
}
.head__burger {
  display: none;
}
.head__scls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.foot {
  background: var(--clr-light-blue);
}
.foot__row {
  padding: 70px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.foot__left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.foot__contacts {
  margin-top: 112px;
}
.foot__contacts_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  color: var(--clr-blue);
  font-size: 1rem;
  line-height: 1.4;
}
.foot__scls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 18px;
}
.foot__scls .scls-link {
  width: 45px;
  height: 45px;
}
.foot__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 87px;
}
.foot__nav_list .submenu .accodion_content div {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot__nav_list .submenu .accodion_content div a {
  width: 100%;
}
.foot__nav_item {
  min-width: 129px;
}
.foot__nav_title {
  line-height: 1.4;
  color: #799EE5;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot__nav_title .caret {
  display: none;
}
.foot__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foot__copy {
  margin-top: auto;
  line-height: 2;
  font-size: 12px;
  color: var(--clr-menu-title);
}
.foot__copy_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.foot__copy_links a {
  color: var(--clr-menu-title);
  position: relative;
}
.foot__copy_links a:not(:last-child)::after {
  content: "•";
  position: absolute;
  left: calc(100% + 3px);
}
.foot__copy_links a:hover {
  color: var(--clr-blue);
}

.mobile {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 0;
  background: var(--clr-bg);
  padding-top: 86px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.mobile .container {
  width: 100%;
  height: 100%;
}
.mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.mobile__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mobile__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.mobile__nav_title {
  font-family: var(--font-title);
  font-size: 30px;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
}
.mobile__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
.mobile__submenu .link {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__foot {
  padding-top: 30px;
  padding-bottom: 40px;
}
.mobile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}/*# sourceMappingURL=layout.css.map */